/* font roboto*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
       font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
       font-display: swap;
}

@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/robotomedium.woff2') format('woff2'),
      url('../fonts/robotomedium.woff') format('woff');
      font-display: swap;
}
/*color*/

:root{
  --background-grey: #EEEEEE;
  --basic-black: #000000;
  --background-dack-grey: #888888;
  --button-red: #FB565A;
  --button-green: #00CA74;
  --button-yellow: #EFC849;
  --button-hover-red: #E74246;
  --button-hover-green: #00BC6C;
  --button-hover-yellow: #EAB534;
  --button-push-red: #D7373B;
  --button-push-green: #00AA62;
  --button-push-yellow: #E5A722;
  --white: #FFFFFF;
  --dark-text: #283136;
  --grey-on-model: #666666;
  --light-grey: #444444;
  --grey-border: #D7DCDE;
  --grey-hover:  #B4B9BB;

}

/*Global*/

body{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  color:var(--basic-black);
  margin: 0;
  padding: 0;
  min-width: 1460px;
  background-color: var(--white);
}

img{
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container{
  width:1160px;
  margin:0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*Text color all page*/

.caption-slide-item,
.caption-service-info,
.about-us-text,
.about-us-list,
.caption-about-us-list,
.percent dd,
.value-range,
.filters ul{
  color:var(--dark-text);
}

.body-page{
  line-height:24px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.body-page a,
.body-inner a{
  text-decoration: none;
}

/*List-style none*/

.list-site-navigation,
.list-service,
.about-us-list,
.list-company,
.footer-social ul,
.list-site-models,
.list-radio,
.list-checkbox,
.list-pagination,
.list-select{
  list-style: none;
}

/*Main header*/

.main-header{
  background-color: var(--background-grey);
  text-transform: uppercase;
  line-height: 30px;
  color:var(--basic-black);
  font-weight: 500;
  font-size: 16px;
}

/*Main navigation*/

.main-navigation{
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-navigation a,
.container-busket a{
  color: inherit;
  display:block;
}

.main-header-logo{
  margin:0;
  height:66px;
}

.logo-active:active{
  opacity: 0.3;
}

.list-site-navigation{
  height:60px;
  margin: 0;
  margin-left: -41px;
  padding: 0;
  min-width: 437px;
  display: flex;
  justify-content: space-between;
}

.list-site-navigation a,
.container-busket a{
  display:block;
  padding-bottom: 13px;
  padding-top: 20px;
}

.busket{
  position:relative;
}

.busket::before{
content:"";
position: absolute;
width:15px;
height:15px;
top:26px;
right:100px;
background-image:url("img/cart.svg");
background-repeat: no-repeat;
}

.container-busket a{
  padding-left: 44px;
}

.main-iner-container{
  display:grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 133px auto;
}

.page-current{
  box-sizing: border-box;
  border-bottom:2px solid var(--button-red);
}

/*User navigation*/

.list-site-navigation a:hover,
.list-site-navigation a:hover,
.container-busket a:hover{
  color:var(--button-red);
}

.list-site-navigation a:active,
.container-busket a:active{
  color:rgba(0, 0, 0, 0.3);
}



/*Main center*/

/*Slides*/

.slides-wrapper{
  background-color: var(--background-grey);
}

.slide{
  height: 431px;
  display: flex;
  justify-content: flex-end;
}

.container-text-sliders{
  width: 538px;
  pading:0;
  margin-right: -140px;
}

.block-slide{
 width:760px;
 margin-right: 3px;
}

.caption-slide{
  width: 538px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.caption-slide-item{
  width: 416px;
}

.slide-button{
  display:inline-block;
  padding:16px 54px;
  border-radius: 3px;
  margin-top: 27px;
}

/*Service*/

.caption-service{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.list-service{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px var(--background-grey);
}

.service-list-item{
  width: 300px;
  height: 507px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin:0;
}

.service-list-item img{
  margin-top: 80px;
  padding: 0;
}

.service-list-item h3{
  padding: 0;
  margin:0;
  margin-top: 25px;
}

.service-list-item p{
  padding: 0;
  margin:0;
  margin-top:18px;
  width:260px;
}

.service-list-item a{
  padding: 0;
  margin:0;
  margin-top:32px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  }

/*About us*/

.about-us-wrapper h3{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us-wrapper h4{
  font-weight:bold;
  text-transform: uppercase;
}

.about-us-wrapper{
  margin: 0;
  height: 525px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px var(--background-grey);
}

.progress-container{
  margin-top: 39px;
  width:360px;
}

.order-container{
  width:651px;
  margin:0;
  margin-top: 73px;
}

.order-container h3{
  margin:0;
}

.about-us-text{
  margin:0;
  margin-top: 32px;
}

.caption-about-us-list{
  margin:0;
  margin-top: 40px;
}

.about-us-list{
  margin:0;
  padding:0;
  margin-top:11px;
}

.about-us-list li{
  padding: 12px 0 12px 36px;
  position: relative;
}

.about-us-list li::before{
  content: "";
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--button-red);
}

.progress-content dl{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.progress-content dd{
  grid-row: 2 / 2;
  margin: 0;
}

.progress-content dt{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.figur{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

/*Company */

.list-company{
  margin:0;
  padding:0;
  height:92px;
  margin-top:46px;
  padding-bottom: 44px;
  margin-bottom:80px;
  display: flex;
  border-bottom: solid 2px var(--background-grey);
}

.list-company li{
  position: relative;
}

.list-company li::after{
  content:"";
  position: absolute;
  right:-48px;
  width:2px;
  height: 52px;
  background-color: var(--background-grey);
  opacity:1;

}

.list-company .company-academy{
  height: 68px;
  margin: 17px 48px 5px 32px;
}

.list-company .company-borodinski{
  height: 90px;
  margin: 0 44px 0 45px;
}

.list-company .company-pink{
  height:52px;
  margin:19px 55px 19px 58px;
}

.list-company .company-mishka{
  height:84px;
  margin: 6px 43px 0 63px;
}

.company li{
  opacity: 0.2;
  margin:0;
  padding:0;
}

.company li:hover{
  opacity: 1;
}

.company li:active{
  opacity: 0.3;
}

/*Footer*/

/*Contact*/

.main-footer{
  position:relative;
}


.map img:first-child{
  height:416px;
  width:100%;
}

.map img:last-child{
  position:absolute;
  left: 822px;
  bottom:357px;
}

.contact{
  margin: 0;
  padding: 0;
  min-height: 308px;
  width: 319px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white);
  position:absolute;
  bottom:276px;
  left:150px;
}

.footer-caption{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin:0;
  margin-top: 49px;
}

.contact-button{
  margin:0;
  margin-top: 37px;
  padding:17px 44px 15px;
  border-radius: 3px;
}

.footer-adress,
.contact-phone{
  line-height: 18px;
  color: var(--grey-on-model);
  margin:0;
}

.footer-caption,
.contact-button,
.footer-adress,
.contact-phone{
  margin-left: 50px;
  margin-right: 50px;
}

.contact-phone{
  padding-top: 18px
}

.footer-adress{
  margin-top:23px;
}

/*Social*/

.footer-social h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social p{
  font-size: 16px;
  line-height: 22px;
  color:var(--light-grey);
}

.footer-social{
  margin: 0;
  height: 217px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.frendship{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin:auto;
}

.frendship h2{
  margin:0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.frendship p{
  margin:0;
}

.footer-social ul{
  min-width: 260px;
  height: 80px;
  display:flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 139px;
}

.button-social{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background-color: #E1E1E1;
  border-radius: 50%;
}

.button-social:active path{
  opacity: 0.3;
}

.button-social:hover{
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.button-social:active{
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Catalog*/

.body-inner{
  font-weight: 400;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.inner-main-caption{
  background-color: var(--background-grey);
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 108px;
  margin: 0;
}

/*Filters*/

.filters{
 grid-column:1/2;
 grid-row: 1/3;
 width:260px;
}

.form-filters fieldset{
  border:none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.filters ul{
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.button-filters{
  width: 260px;
  height:50px;
  color:inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background: var(--background-grey);
  border-radius: 3px;
  border: none;
}

.button-filters:hover{
  background-color: #DFDFDF;
  border: none;
}

.button-filters:active,
.button-filters:focus{
  background-color:#D5D5D5;
  opacity: 0.3;
}

/*Range-controls*/

 .filter-item legend{
   width:100%;
   margin:55px 0 48px;
   padding-left: 0;
   text-transform: uppercase;
   font-size: 18px;
   line-height: 30px;
   font-weight: bold;
   color: var(--basic-black);
 }

.range-filter{
  display:flex;
  flex-wrap: wrap;
}

.range-controls{
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  width:260px;
  height: 80px;
  background-color: var(--background-grey);
  border-radius: 3px;
}

.scale{
  width:205px;
  height:2px;
  background-color: #D7DCDF;
}

.bar{
  width:60%;
  height: 2px;
  background-color: #00CA74;
}

.toggle{
  width: 4px;
  height: 4px;
  border: solid 10px #FFFFFF;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.toggle-min{
  position: absolute;
  left:10%;
}

.toggle-max{
  position: absolute;
  left:60%;
}

.price-controls{
  width:260px;
  display:flex;
  justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 400;
  color:var(--dark-text);
  font-family: inherit;
}

.price-controls label{
  margin:0;
}

.price-controls input[type="number"]{
  width:80px;
  height:38px;
  background-color: var(--background-grey);
  border:none;
  text-align: center;
  margin-top:14px;
  border-radius: 3px;
}

/*Radio Checkbox kontrols*/

.caption-filter{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter-option{
  margin-bottom: 21px;
  padding-left: 40px;
}

.filter-option label{
  position:relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before{
  position: absolute;
  box-sizing:border-box;
  content:"";
  width:25px;
  height:25px;
  top:-3px;
  left:-40px;
  border: 4px solid #4D4D4D;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after{
  position: absolute;
  content:"";
  width:9px;
  height:9px;
  top:5px;
  left:-32px;
  border-radius: 50%;
  background-color:#4D4D4D;
  opacity: 0.4;
}

.filter-input-checkbox + label::before{
  position: absolute;
  box-sizing: border-box;
  content:"";
  width:23px;
  height:23px;
  top:-2px;
  left:-40px;
  border: 2px solid #4D4D4D;
  border-radius: 2px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after{
  position: absolute;
  content:"";
  width:22px;
  height:17px;
  top:-1px;
  left:-36px;
  background-image: url("img/check.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input:hover + label::after,
.filter-input:hover + label::before{
  opacity:1;
}

.filter-input:disabled + label::after,
.filter-input:disabled + label::before{
  opacity: 0.1;
}

.filter-input:disabled + label{
  color:var(--dark-text);
  opacity:0.3;
}


/*Select*//*Select*/

.select{
  justify-content: space-between;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display:flex;
  align-items: center;
}

.list-select{
  width:360px;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select h3{
  margin:0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.list-select li{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.select-item a{
  color: inherit;
  opacity: 0.3;
  padding: 10px 5px;
}

.select-item a:hover{
  opacity:0.6;
}

.select-item a:active,
.select-item a.current-item{
  opacity:1;
}

/*Макеты сайтов*/

.list-site-models{
  padding:0;
  margin:0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Карточка сайта в покое*/

.card-site{
  position:relative;
  box-sizing: border-box;
  width:360px;
  height:580px;
  background-color: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 40px;
}

.card-site::before{
  content:"";
  position:absolute;
  width: 360px;
  height:40px;
  background-image: url("img/browser.svg");
  background-repeat:no-repeat;
  left: -1px;
  top:-40px;
  opacity:0.12;
}

/*Карточка сайта при наведении*/
/*
.card-site-hover{

  position:relative;
  width: 360px;
  height:620px;
  background-image: url("img/browser.svg");
  background-repeat:no-repeat;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}*/

.field-price{
  position:absolute;
  bottom:0;
  background-color: var(--background-grey);
  width: 360px;
  height: 231px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.visually-price{
  display:none;
}

.list-site-models li{
  padding:0;
  margin-left: 0px;
  margin-right: 20;
  margin-bottom: 30px;
}

.list-site-models li:nth-child(2n){
  margin-right:0;
}

.models h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin:0;
  padding-top: 26px;
}

.description{
  line-height: 18px;
  color:var(--grey-on-model);
  text-align: center;
}

.button-price{
  width: 200px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-left: 80px;
  margin-top: 32px;
  line-height: 18px;
  color:var(--white);
  text-transform: uppercase;
  background-color:var(--button-red);
  border-radius: 3px;
  text-align: center;
}


/*Pagination*/

.list-pagination{
  width:760px;
  min-height: 50px;
  display:flex;
  flex-wrap: wrap;
  margin:25px 0 60px ;
  padding:0;
}

.pagination-item a{
  color:inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  display:block;
  background-color:var(--background-grey);
  border-radius: 3px;
  padding: 17px 20px 15px;
  margin-right: 11px;
}

.pagination-item-current a{
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  padding:14px 17px 12px;
}

.pagination-item-next a{
padding-right: 77px;
padding-left: 78px;
}

.pagination-item a:hover{
  background-color:#DFDFDF;
}

.pagination-item a:active{
  background-color:#D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity:0.3;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
  background-color:var(--background-grey);
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset 0px 0px 0px rgba(0, 1, 1, 1);
  opacity:1;
}


/*Buttons*/

.button,
.button-price {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color:var(--white);
  text-transform:uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: var(--button-red);
  border: none;
}

.app-button{
  background-color: var(--button-green);
}

.presentation-button{
  background-color: var(--button-yellow);
}

/*User buttons*/

.button:active{
  color:rgba(255, 255, 255, 0.3);
}

.slide-button:hover,
.site-button:hover,
.button-price:hover,
.contact-button:hover,
.modal-send:hover{
  background-color: var(--button-hover-red);
}

.slide-button:active,
.site-button:active,
.button-price:active,
.contact-button:active,
.modal-send:active{
  background-color:var(--button-push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.app-button:hover{
  background-color: var(--button-hover-green);
}

.app-button:active{
  background-color: var(--button-push-green);
}
.presentation-button:hover{
  background-color: var(--button-hover-yellow);
}

.presentation-button:active{
  background-color: var(--button-push-yellow);
}

/*Modal window*/

.visually-modal{
  display: none;
}

.modal-contact{
  position:fixed;
  top:50%;
  left:50%;
  margin-right: -480px;
  margin-left: -480px;
  width: 960px;
  height: 590px;
  background-color: var(--white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.fill-form{
  position: relative;
  width: 761px;
  height: 353px;
  margin: 0 100px;
  display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
}

.modal-send{
  align-self: flex-end;
  padding: 17px 83px 15px;
  border-radius: 3px;
}

.user-data{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
}

.name{
  width:360px;
  margin-right: 40px;
}

.email{
  width:360px;
}

.textarea {
 width: 760px;
 height: auto;
}

.modal-close{
  display: block;
  position:absolute;
  width:21px;
  height:21px;
  background-color: var(--white);
  background-image: url(img/close.svg);
  background-position: 0 0;
  right:0;
  top:-70px;
  opacity: 0.3;
  border:none;
}

.modal-close:hover{
  opacity: 1;
}

.modal-close:active{
  opacity: 0.1;
  padding: 0;
}

.textarea textarea{
  box-sizing: border-box;
  width: 760px;
  min-height:118px;
  margin:0;
}

.modal-contact h2{
  margin-top:63px;
  margin-left: 100px;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.fill-form p{
  font-weight: bold;
  line-height: 18px;
}

.modal-field{
  padding: 16px;
  border: solid 2px var(--grey-border);
  border-radius: 3px;
}

.modal-field:hover{
  border-color:var(--grey-hover);
}

.modal-field:focus{
  border-color: red;/* var(--basic-black) не работает*/
}

/*Скрытие элементов*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*no valid value*/
/*.user-name:    {
  border-color:var(--button-hover-red);
}*/


/*  outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;*/
