/* font roboto*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
       font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
       font-display: swap;
}

@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 src: local("Roboto"), local("Roboto-Regular"),
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
      font-display: swap;
}
/*color*/

:root{
  --background-grey: #EEEEEE;
  --basic-black: #000000;
  --background-dack-grey: #888888;
  --button-red: #FB565A;
  --button-green: #00CA74;
  --button-yellow: #EFC849;
  --button-hover-red: #E74246;
  --button-hover-green: #00BC6C;
  --button-hover-yellow: #EAB534;
  --button-push-red: #D7373B;
  --button-push-green: #00AA62;
  --button-push-yellow: #E5A722;
  --white: #FFFFFF;
  --dark-text: #283136;
  --grey-on-model: #666666;
  --light-grey: #444444;
  --light-grey-filter: #DFDFDF;
  --grey-border: #D7DCDE;
  --grey-hover: #B4B9BB;
  --grey-active: #D5D5D5;
  --grey-slider-current:#C1C1C1;
  --grey-scale: #D7DCDF;
  --grey-social: #E1E1E1;
  --grey-dark: #4D4D4D;
  --grey-toggle: #ABABAB;
  --grey-page-current: #DBDBDB;
}

/*Global*/

body{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  color:var(--basic-black);
  margin: 0;
  padding: 0;
  min-width: 1460px;
  background-color: var(--white);
}

img{
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container{
  width:1160px;
  margin:0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*Text color all page*/

.caption-slide-item,
.caption-service-info,
.about-us-text,
.about-us-list,
.caption-about-us-list,
.percent dd,
.value-range,
.filters ul{
  color:var(--dark-text);
}

.body-page{
  line-height:24px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.body-page a,
.body-inner a{
  text-decoration: none;
}

/*List-style none*/

.list-site-navigation,
.list-sliders,
.list-service,
.about-us-list,
.list-company,
.footer-social ul,
.list-site-models,
.list-radio,
.list-checkbox,
.list-pagination,
.list-select{
  list-style: none;
}

/*Main header*/

.main-header{
  background-color: var(--background-grey);
  text-transform: uppercase;
  line-height: 30px;
  color:var(--basic-black);
  font-weight: 500;
  font-size: 16px;
}

/*Main navigation*/

.main-navigation{
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-navigation a,
.container-busket a{
  color: inherit;
  display: block;
}

.main-header-logo{
  margin:0;
  height:66px;
  z-index:20;
}

.logo-active:active{
  opacity: 0.3;
}

.list-site-navigation{
  height:59px;
  margin: 0;
  margin-left: -41px;
  padding: 0;
  min-width: 437px;
  display: flex;
  justify-content: space-between;
}

.list-site-navigation a,
.container-busket a{
  position:relative;
  display:block;
  padding-bottom: 9px;
  padding-top: 20px;

}
.page-nav-current a::after{
  content: "";
  position:absolute;
  left:0px;
  bottom:-6px;
  width:100%;
  height:2px;
  background-color: var(--button-red);
}

.busket{
  position:relative;
}

.busket::before{
  content:"";
  position: absolute;
  width:15px;
  height:15px;
  top:26px;
  right:100px;
  background-image:url("../img/cart.svg");
  background-repeat: no-repeat;
}

.container-busket a{
  padding-left: 44px;
}

.main-iner-container{
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 133px auto;
}

/*User navigation*/

.list-site-navigation a:hover,
.list-site-navigation a:hover,
.container-busket a:hover,
.list-site-navigation a:focus,
.list-site-navigation a:focus,
.container-busket a:focus{
  color:var(--button-red);
}

.list-site-navigation a:active,
.container-busket a:active{
  color:rgba(0, 0, 0, 0.3);
}



/*Main center*/

/*Slides*/

.slider-bar{
  background-color: var(--background-grey);
}

.slider-wrapper{
  position:relative;
  height: 431px;
}

.list-sliders{
  margin:0;
  padding:0;
}

.container-text-sliders{
  width: 538px;
  height: 431px;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

.caption-slide{
  width: 538px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 78px;
  margin-bottom: 11px;
}

.caption-slide-item{
  width: 416px;
  margin-bottom: 39px;
}

.caption-slide-item.slide2,
.caption-slide-item.slide3{
  margin-top: 28px;
  margin-bottom: 27px;
}

.slide-button{
  text-align: center;
  padding:16px 55px 15px 54px;
  border-radius: 3px;
}

.block-slide{
  display: block;
  position:absolute;
  bottom:0;
  right:13px;
  width:760px;
}

.control-slider{
  position:absolute;
  bottom:96px;
  right: 546px;
  width:88px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}

.button-slider{
  position: relative;
  padding: 0;
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: var(--white);
  border-radius:50%;
  border:none;
  cursor: pointer;
  z-index:20;
}

.button-slider-current::before{
  content:"";
  position:absolute;
  bottom:5px;
  right: 5px;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 2px solid var(--grey-slider-current);
  border-radius: 50%;
}

.slide{
  display:none;
}

.slide-current{
  display:block;
}

/*Service*/

.caption-service{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.list-service{
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  border-bottom: solid 2px var(--background-grey);
}

.list-service li{
  margin-top: 80px;
  margin-right: 100px;
}

.list-service li:nth-child(3n){
  margin-right: 0;
}

.list-service li:last-child{
  margin-right: 60px;
}

.service-list-item{
  width: 300px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin:0;
}

.service-list-item h3{
  padding: 0;
  margin:0;
  margin-top: 25px;
}

.service-list-item p{
  padding: 0;
  margin:0;
  margin-top:16px;
  width:260px;
}

.service-list-item a{
  padding: 0;
  margin:0;
  margin-top:32px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  }

/*About us*/

.about-us-wrapper h3{
  margin:0;
  font-weight: 500;
  font-size: 45px;
  line-height: 46px;
}

.about-us-wrapper h4{
  font-weight:bold;
  text-transform: uppercase;
}

.about-us-wrapper{
  margin: 0;
  min-height: 525px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px var(--background-grey);
}

.progress-container{
  margin-top: 39px;
  width:360px;
}

.order-container{
  width:651px;
  margin:0;
  margin-top: 73px;
}

.about-us-text{
  margin:0;
  margin-top: 32px;
}

.caption-about-us-list{
  margin:0;
  margin-top: 40px;
}

.about-us-list{
  margin:0;
  padding:0;
  margin-top:11px;
}

.about-us-list li{
  padding: 12px 0 12px 36px;
  position: relative;
}

.about-us-list li::before{
  content: "";
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--button-red);
}

.progress-content h4{
  margin:30px 0 30px 17px;
}

.progress-content dl{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.progress-content dd{
  padding-top:12px;
  line-height: 18px;
  grid-row: 2 / 2;
  margin: 0;
}

.progress-content dt{
  margin:0;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.figur{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

/*Company */

.company{
  margin-bottom: 79px;
  border-bottom: solid 2px var(--background-grey);
}

.company a{
  display:block;
  opacity:0.2;
}

.list-company{
  margin-left: 32px;
  padding:0;
  margin-top:46px;
  margin-bottom:38px;
  display: flex;
  justify-content:start;
  flex-wrap: wrap;
}

.list-company li{
  position:relative;
}

.list-company li:nth-child(2)::after,
.list-company li:nth-child(2)::before,
.list-company li:nth-child(3)::after{
  content:"";
  position: absolute;
  width:2px;
  height: 52px;
  background-color:var(--background-grey);
}

.list-company li:nth-child(2)::after,
.list-company li:nth-child(2)::before{
  top:20px;
}

.list-company li:nth-child(2)::after{
  right:-47px;
}

.list-company li:nth-child(2)::before{
  left:-47px
}

.list-company li:nth-child(3)::after{
  right:-56px;
  top:0;
}

.list-company .company-academy{
  margin-right: 95px;
  margin-top: 17px;
}

.list-company .company-borodinski{
  margin-right: 104px;
}

.list-company .company-pink{
  margin-top:19px;
  margin-right:120px;
}

.list-company .company-mishka{
  margin-top: 6px;
}

.company a:hover{
  opacity: 1;
}

.company a:active{
  opacity: 0.3;
}

/*Footer*/

.adress-company-wrapper{
  background-color: var(--background-grey);
  min-height:416px;
}

.adress-company{
  position: relative;
  width:1440px;
  margin:0 auto;
}
.adress-company iframe{
  display: block;
  border:0;

}
.adress-company img:first-of-type{
  display: none;
}

.adress-company img:nth-child(3){
  position:absolute;
  right: 387px;
  bottom: 140px;
  display:none;
}

.contact{
  position:absolute;
  bottom:54px;
  left:140px;
  margin: 0;
  padding: 0;
  min-height: 308px;
  width: 319px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white);
}

.footer-caption{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin:0;
  margin-top: 49px;
}

.contact-button{
  margin:0;
  margin-top: 37px;
  padding:17px 44px 15px;
  border-radius: 3px;
}

.footer-adress,
.contact-phone{
  line-height: 18px;
  color: var(--grey-on-model);
  margin:0;
}

.footer-caption,
.contact-button,
.footer-adress,
.contact-phone{
  margin-left: 50px;
  margin-right: 50px;
}

.contact-phone{
  padding-top: 18px
}

.footer-adress{
  margin-top:23px;
}

/*Social*/

.footer-social h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social p{
  font-size: 16px;
  line-height: 22px;
  color:var(--light-grey);
}

.footer-social{
  margin: 0;
  height: 217px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.frendship{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin:auto;
}

.frendship h2{
  margin:0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.frendship p{
  margin:0;
}

.footer-social ul{
  min-width: 260px;
  height: 80px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.button-social{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background-color: var(--grey-social);
  border-radius: 50%;
}

.button-social:active path{
  opacity: 0.3;
}

.button-social:hover,
.button-social:focus{
  background: linear-gradient(0deg, var(--button-hover-red), var(--button-hover-red)), var(--white);
}

.button-social:active{
  background: linear-gradient(0deg, var(--button-push-red), var(--button-push-red)), var(--white);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Catalog*/

.body-inner{
  font-weight: 400;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.inner-main-caption{
  background-color: var(--background-grey);
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 108px;
  margin: 0;
}

/*Filters*/

.filters{
 grid-column:1/2;
 grid-row: 1/3;
 width:260px;
}

.form-filters fieldset{
  border:none;
  padding: 0;
  margin-left: 0;
}

.filter-item{
  margin-top: 55px;
}

.filters ul{
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.button-filters{
  width: 260px;
  height:50px;
  color:inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background: var(--background-grey);
  border-radius: 3px;
  border: none;
}

.button-filters:hover,
.button-filters:focus{
  background-color: var(--light-grey-filter);
  border: none;
}

.button-filters:active{
  background-color:var(--grey-active);
  opacity: 0.3;
}

/*Range-controls*/

 .filter-item legend{
   width:100%;
   margin-bottom: 48px;
   padding-left: 0;
   text-transform: uppercase;
   font-size: 18px;
   line-height: 30px;
   font-weight: bold;
   color: var(--basic-black);
 }

.range-filter{
  display:flex;
  flex-wrap: wrap;
}

.range-controls{
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  width:260px;
  height: 80px;
  background-color: var(--background-grey);
  border-radius: 3px;
}

.scale{
  width:205px;
  height:2px;
  background-color: var(--grey-scale);
}

.bar{
  width:64%;
  height: 2px;
  background-color: var(--button-green);
}

.toggle{
  width: 4px;
  height: 4px;
  border: solid 8px var(--white);
  background-color: var(--grey-toggle);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.toggle-min{
  position: absolute;
  left:7%;
}

.toggle-max{
  position: absolute;
  left:61%;
}

.price-controls{
  width:260px;
  display:flex;
  justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 400;
  color:var(--dark-text);
  font-family: inherit;
}

.price-controls label{
  margin:0;
}

.price-controls input[type="number"]{
  width:66px;
  height:38px;
  background-color: var(--background-grey);
  border:none;
  text-align: center;
  margin-top:14px;
  margin-left:8px;
  padding:0;
  padding-left: 14px;
  border-radius: 3px;
}

/*Radio Checkbox kontrols*/

.radio-controls{
  margin-top:54px;
}

.caption-filter{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter-option{
  margin-bottom: 21px;
  padding-left: 36px;
}

.filter-option label{
  position:relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before{
  position: absolute;
  box-sizing:border-box;
  content:"";
  width:25px;
  height:25px;
  top:-3px;
  left:-36px;
  border: 4px solid var(--grey-dark);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after{
  position: absolute;
  content:"";
  width:9px;
  height:9px;
  top:5px;
  left:-28px;
  border-radius: 50%;
  background-color:var(--grey-dark);
  opacity: 0.4;
}

.check-controls{
  margin-top: 25px;
  margin-bottom: 29px;
}

.filter-input-checkbox + label::before{
  position: absolute;
  box-sizing: border-box;
  content:"";
  width:23px;
  height:23px;
  top:-2px;
  left:-36px;
  border: 2px solid var(--grey-dark);
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox + label::before{
  display:block;
}

.filter-input-checkbox:checked + label::after{
  position: absolute;
  content:"";
  width:26px;
  height:23px;
  top:-2px;
  left:-36px;
  background-color:var(--white);
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input:hover + label::after,
.filter-input:hover + label::before{
  opacity:1;
}

.filter-input:disabled + label::after,
.filter-input:disabled + label::before{
  opacity: 0.1;
}

.filter-input:disabled + label{
  color:var(--dark-text);
  opacity:0.3;
}

.filter-input:focus + label::after,
.filter-input:focus + label::before{
  opacity:1;
}

/*Select*/

.select{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display:flex;
  align-items: center;
}

.list-select{
  min-width:360px;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  margin-top: 9px;
}

.select h3{
  margin-top:25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-right:263px;
}
.select-for-price,
.select-for-type{
  margin-right:20px;
}

.select-for-name{
  margin-right:41px;
}

.select-for-down{
  margin-right:8px;
}

.list-select li{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.select-item a{
  color: inherit;
  opacity: 0.3;
  padding: 10px 3px;
}

.select-item a:hover{
  opacity:0.6;
}

.select-item a:active,
.select-item a:focus,
.select-item a.current-item{
  opacity:1;
}

/*Макеты сайтов*/

.list-site-models{
  padding:0;
  margin:0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-site-models li{
  padding:0;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.card-site img{
  margin-top: 41px;
  margin-left: 1px;
}

/*Карточка сайта в покое*/

.card-site{
  position: relative;
  width:360px;
  height:620px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("../img/browser.jpg");
  background-position: 0 0;
  background-repeat:no-repeat;
  border-radius: 5px;
}

/*Карточка сайта при наведении*/

.card-site:hover{
  width: 360px;
  height:620px;
  background-color: var(--white);
  background-image: url("../img/browser.svg");
  background-position: 0 0;
  background-repeat:no-repeat;
  border-radius: 5px;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.field-price{
  position:absolute;
  bottom:0;
  background-color: var(--background-grey);
  width: 360px;
  height: 231px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display:none;
}

.list-site-models li:nth-child(2n){
  margin-right:0;
}

.models h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color:var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  margin:0;
  padding-top: 26px;
}

.models h3:hover{
color: var(--button-red);
}

.models h3:active{
  color:var(--basic-black);
  opacity: 0.3;
}

.description{
  line-height: 18px;
  color:var(--grey-on-model);
  text-align: center;
  margin-top: 13px;
  margin-bottom: 32px;
}

.button-price{
  display:inline-block;
  padding: 17px 75px 15px 72px;
  margin-left: 80px;
  margin-top: 0;
  border-radius: 3px;
}

/*Pagination*/

.list-pagination{
  width:760px;
  min-height: 50px;
  display:flex;
  flex-wrap: wrap;
  margin:25px 0 49px ;
  padding:0;
}

.pagination-item{
  margin-bottom: 10px;
  margin-right:12px;
}

.pagination-item a{
  color:inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  display:block;
  background-color:var(--background-grey);
  border-radius: 3px;
  padding: 17px 20px 15px;
}

.pagination-item-current a{
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--grey-page-current);
  padding:14px 17px 12px;
}

.pagination-item-next a{
  padding-right: 77px;
  padding-left: 78px;
}

.pagination-item a:hover{
  background-color:var(--light-grey-filter);
}

.pagination-item a:active{
  background-color:var(--grey-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity:0.3;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
  background-color:var(--background-grey);
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset 0px 0px 0px rgba(0, 1, 1, 1);
  opacity:1;
}


/*Buttons*/

.button{
  font-weight: 500;
  line-height: 18px;
  color:var(--white);
  text-transform:uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: var(--button-red);
  border: none;
}

.app-button{
  background-color: var(--button-green);
}

.presentation-button{
  background-color: var(--button-yellow);
}

/*User buttons*/

.button:active{
  color:rgba(255, 255, 255, 0.3);
}

.slide-button:hover,
.site-button:hover,
.button-price:hover,
.contact-button:hover,
.modal-send:hover{
  background-color: var(--button-hover-red);
}

.slide-button:active,
.site-button:active,
.button-price:active,
.contact-button:active,
.modal-send:active{
  background-color:var(--button-push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.app-button:hover{
  background-color: var(--button-hover-green);
}

.app-button:active{
  background-color: var(--button-push-green);
}
.presentation-button:hover{
  background-color: var(--button-hover-yellow);
}

.presentation-button:active{
  background-color: var(--button-push-yellow);
}

/*Modal window*/

.modal-contact{
  z-index: 100;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  width: 960px;
  height: 590px;
  background-color: var(--white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display:none;
}
.modal-open{
  display:block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}

.fill-form{
  position: relative;
  width: 761px;
  height: 353px;
  margin: 0 100px;
  display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
}

.user-data{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
}

.name{
  width:360px;
  margin-right: 40px;
}

.email{
  width:360px;
}

.textarea {
  width: 760px;
  margin-top:34px;
  margin-bottom: 43px;
}

.textarea label{
  padding: 0;
  margin:0;
}

.textarea textarea{
  padding-left: 15px;
  box-sizing: border-box;
  width: 760px;
  min-height:118px;
  max-height: 180px;
}

.modal-send{
  padding: 18px 84px 15px 85px;
  border-radius: 3px;
}

.modal-close{
  display: block;
  position:absolute;
  width:21px;
  height:21px;
  background-color: var(--white);
  background-image: url("../img/close.svg");
  background-position: 0 0;
  right:-10px;
  top:-75px;
  opacity: 0.3;
  border:none;
}

.modal-close:hover{
  opacity: 1;
}

.modal-close:active{
  opacity: 0.1;
  padding: 0;
}

.modal-contact h2{
  margin-top:63px;
  margin-left: 100px;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.fill-form p{
  font-weight: bold;
  line-height: 18px;
}

.modal-field{
  margin-top:9px;
  padding: 14px;
  border: solid 2px var(--grey-border);
  border-radius: 3px;
}

.modal-field:hover{
  border-color:var(--grey-hover);
}

.modal-field:focus{
  border-color: var(--basic-black);
}

.name input:invalid{
  border-color:var(--button-hover-red);
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
/*Скрытие элементов*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/*  outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;*/
