/* font roboto*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
       font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
       font-display: swap;
}

@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/robotomedium.woff2') format('woff2'),
      url('../fonts/robotomedium.woff') format('woff');
      font-display: swap;
}
/*color*/
:root{
  --background-grey: #EEEEEE;
  --basic-black: #000000;
  --background-dack-grey: #888888;
  --button-red: #FB565A;
  --button-green: #00CA74;
  --button-yellow: #EFC849;
  --button-hover-red: #E74246;
  --button-hover-green: #00BC6C;
  --button-hover-yellow: #EAB534;
  --button-push-red: #D7373B;
  --button-push-green: #00AA62;
  --button-push-yellow: #E5A722;
  --white: #FFFFFF;
  --dark-text: #283136;
  --grey-on-model: #666666;
  --light-grey: #444444;
  --grey-border: #D7DCDE;
  --grey-hover:  #B4B9BB;

}

/*Global*/
body{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  color:var(--basic-black);
  margin: 0;
  padding: 0;
  min-width: 1460px;
  background-color: var(--white);
}

img{
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

/*Visually blocks*/

/*.visually-hidden-slide1,*/
.visually-hidden-slide2,
.visually-hidden-slide3{
  display: none;
}

.visually-price{
  display:none;
}

.visually-modal{
  display: none;
}

.visuslly-map-marker{
  display:none;
}

.visually-hidden{
  display: none;
}

.body-page{
  line-height:24px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.body-page a,
.body-inner a{
  text-decoration: none;
}

/*List-style none*/
.list-site-navigation,
.list-service,
.list-company,
.list-social,
.list-site,
.list-radio,
.list-checkbox,
.list-pagination,
.list-select{
  list-style: none;
}

/*Main header*/
.main-header{
  background-color: var(--background-grey);
  text-transform: uppercase;
  line-height: 30px;
  color:var(--basic-black);
  font-weight: 500;
  font-size: 16px;
}

/*Main navigation*/
.main-navigation{
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /*outline: 1px solid red;
  outline-offset: -1px;*/
}

.main-navigation a{
  color: inherit;
}

.main-header-logo{
  margin:0;
  height:66px;
  /*outline: 1px solid blue;
  outline-offset: -1px;*/
}

.list-site-navigation{
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  margin-left: 202px;
  min-width: 437px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-busket{
    padding-bottom: 9px;
    padding-left: 40px;
    margin-left: auto;
  }

.container{
  width:1200px;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-iner-container{
  display:grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 48px auto;
}

/*User navigation*/
.list-site-navigation a:hover,
.list-site-navigation a:hover,
.container-busket a:hover{
  color:var(--button-red);
}

.list-site-navigation a:active,
.container-busket a:active{
  color:var(--background-dack-grey);
}

/*Main center*/
/*Slides*/

.slides-wrapper{
  background-color: var(--background-grey);
}
/*SLides on grid*/
/* .slide{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

/*Slides on flex*/

.slide{
  height: 431px;
  display: flex;
  justify-content: flex-end;
/*  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;*/
}

.container-text-sliders{
  width: 538px;
  pading:0;
  margin-right: -100px;

}

.block-slide{
 width:760px;
 margin-right: 3px;
}

.caption-slide{
  width: 538px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/*Service*/


.caption-service{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
/*Service on grids*/

/*.list-service{
  margin: 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}*/

/*Service on flex*/

.list-service{
  margin: 80px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.list-service li{
  width:300px;
}


/*About us*/
.about-us-wrapper h3{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us-wrapper h4{
  font-weight:bold;
  text-transform: uppercase;
}

/*About us on grid*/

/*.about-us-wrapper{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 360px;
  gap:150px;
}

.progress-container{
  width:360px;
}
*/

/*About us on flex   dl on grids*/

.about-us-wrapper{
  margin: 0;
  display: flex;
  justify-content: space-between;
/*  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;*/
}

.progress-container{
  width:360px;
  /*outline: 1px solid red;
  outline-offset: -1px;*/
}

.order-container{
  width:650px;

  /*outline: 1px solid red;
  outline-offset: -1px;*/
}

.progress-content dl{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.progress-content dd{
  grid-row: 2 / 2;
  margin: 0;
}

.progress-content dt{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.figur{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

/*Company  on grids*/
/*.list-company{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}*/

/*Company  on  flex*/

.list-company{
  padding:0;
  margin :45px 0;
  display: flex;
  justify-content: space-between;
}

/*Footer*/
.main-footer{
}

.map img:first-child{
  width:100%;
}

.contact{
  margin: 0;
}

.footer-caption{
font-weight: bold;
font-size: 18px;
line-height: 30px;
}

.footer-adress,
.contact-phone{
  line-height: 18px;
  color: #666666;
}

.footer-social h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social p{
  font-size: 16px;
  line-height: 22px;
  color:var(light-grey);
}

.footer-social{
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.frendship{
  margin-right: 160px;
}

.list-social{
  display:flex;
  padding: 0;
}

.frendship h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.frendship p{
  font-size: 16px;
  line-height: 22px;
  color:var(--light-grey);
}

/*Catalog*/
.body-inner{
  font-weight: 400;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.inner-main-caption{

  background-color: var(--background-grey);
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 108px;
  margin: 0;
}

/*Filters*/


.filters{
/*outline: 5px solid rgba(0, 255, 0, 0.7);
 outline-offset: -5px;*/
 grid-column:1/2;
 grid-row: 1/3;
 width:260px;
}

.form-filters fieldset{
  border:none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.caption-filter{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.value-range span:first-child{
  padding: 8px 35px;
  text-align: center;
  background: var(--background-grey);
  border-radius: 3px;
  border: none;
}

.value-range span:last-child{
  padding: 8px 15px;
  text-align: center;
  background: var(--background-grey);
  border-radius: 3px;
  border: none;
}

.value-range{
  width: 260px;
  text-transform: uppercase;
}

.filters ul{
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.button-filters{
  width: 260px;
  height:50px;
  color:inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background: var(--background-grey);
  border-radius: 3px;
  border: none;
}

.button-filters:hover{
  background-color: #DFDFDF;
}

.button-filters:active,
.button-filters:focus{
  background-color:#D5D5D5;
  /*box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);*/
  opacity: 0.3;
  border:none;
}

/*Select*/
.select{
  display:flex;
  justify-content: space-between;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.list-select{
  display:flex;
  justify-content: space-between;
  margin-left: auto;
}
.select li{
  padding-left: 20px;
}

/*Макеты сайтов*/

.list-site{
  padding:0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.head-mask-site{
  height: 40px;
  background-color: #4D4D4D;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin:0px;
}

.list-site li{
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 30px;
}

.list-pagination{
  display:flex;

}

.models h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.description{
  line-height: 18px;
  color:var(--grey-on-model);
  text-align: center;
}

.button-price{
  width: 200px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-left: 80px;
  line-height: 18px;
  color:var(--white);
  text-transform: uppercase;
  background-color:var(--button-red);
  border-radius: 3px;
  text-align: center;
}

.field-price{
  background-color: var(--background-grey);
  height: 231px;

}

/*Pagination*/
.pagination-item a{
  color:inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color:var(--background-grey);
  border-radius: 3px;
}

.pagination-item a:hover{
  background-color:#DFDFDF;
}

.pagination-item a:active,
.pagination-item a:focus{
  background-color:#D5D5D5;
  opacity: 0.3;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:focus{
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  border-radius:3px;
}

/*Text color all page*/
.caption-slide-item,
.caption-service-info,
.about-us-text,
.about-us-list,
.caption-about-us-list,
.percent dd,
.value-range,
.filters ul{
  color:var(--dark-text);
}

/*Buttons*/
.button,
.button-price {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color:var(--white);
  text-transform:uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: var(--button-red);
  border: none;
}

.app-button{
  background-color: var(--button-green);
}

.presentation-button{
  background-color: var(--button-yellow);
}

/*User buttons*/

.slide-button:hover,
.site-button:hover,
.button-price:hover{
  background-color: var(--button-hover-red);
}

.slide-button:active,
.site-button:active,
.button-price:active{
  background-color: var(--button-push-red);
  opacity: 0.3;
}

.app-button:hover{
  background-color: var(--button-hover-green);
}

.app-button:active{
  background-color: var(--button-push-green);
}
.presentation-button:hover{
  background-color: var(--button-hover-yellow);
}

.presentation-button:active{
  background-color: var(--button-push-yellow);
}

/*Modal window*/

.modal-contact h2{
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.fill-form p{
  font-weight: bold;
  line-height: 18px;
}

.modal-field{
  border: solid 2px var(--grey-border);
  border-radius: 3px;
  /*задать цвет плейсхолдеру*/
}

.modal-field:hover{
  border-color:var(--grey-hover);
}

.modal-field:focus{
  border-color: red;/* var(--basic-black) не работает*/
}

/*no valid value*/
/*.user-name:    {
  border-color:var(--button-hover-red);
}*/
